<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.apache.http.wire" level="off" />
	<logger name="com.github.sarxos.abberwoult" level="trace" />

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>